<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <style>
        #time{
            width: 500px;
            height: 557px;
        }
        .selectTime, #myButton{
            width: 272px;
            margin: 40px auto 20px;
            display: block;
        }
    </style>
</head>
<body>

<div class="layui-inline" id="time"> <!-- 注意：这一层元素并不是必须的 -->
    <form action="" class="layui-form" id="formDemo" method="PUT">
        <div class="layui-form-item">
            <div class="layui-input-block" style="width: 272px; margin: 40px auto 20px">
                <select name="userId" lay-verify="required">
                    <option value="" >请选择用户</option>
                    <option value="" th:each="user : ${session.users}" th:text="${user.username} + ' - ' + ${user.telephone}" th:value="${user.userId}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="width: 272px; margin: 40px auto 20px">
                <select name="planId" lay-verify="required">
                    <option value="" >请选择计划</option>
                    <option value="" th:each="plan : ${session.plans}" th:text="${#dates.format(plan.key.planStart, 'yyyy-MM-dd')} + ' - ' + ${#dates.format(plan.key.planEnd, 'yyyy-MM-dd')} + ' - ' + ${plan.value}" th:value="${plan.key.planId}"></option>
                </select>
            </div>
        </div>
        <input name="checktime" type="text" class="layui-input selectTime" id="time2" value="">
        <button class="layui-btn" id="myButton" lay-submit lay-filter="formDemo">立即提交</button>
    </form>
</div>

<script src="layui/layui.js"></script>
<script>
    layui.use(['laydate', 'form'], function(){
        var laydate = layui.laydate,
            form = layui.form;

        laydate.render({
            elem: '#time2',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        });

        form.on('submit(formDemo)', function(data){
            layui.jquery.ajax({
                type: 'POST',
                url: "userPlan/add/",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data.field),
                success: function (res) {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                },
                error: function (res){
                    layer.msg("添加失败！ 用户可能已经拥有该计划了");
                }
            });
            return false;
        });

    });
</script>
</body>
</html>